.wrapper {
	width: 500px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	form {
		background-color: antiquewhite;
		padding: 20px;

		display: flex;
		flex-direction: column;
		height: 150px;
		justify-content: space-between;

		a:hover {
			text-decoration: underline;
		}
	}
}