.button {
  padding: 5px;
  transition: 0.5s all;

  background-color: #eb8383;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #e05454;
    color: #222;
  }
}
