.menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: calc(100% - 50px);
  height: 100%;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
  border-radius: 0 15px 15px 0;

  padding: 15px;

  &__item {
    color: #fff;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;

    a {
      cursor: pointer;
    }
  }

  &.active {
    left: 50px;
    visibility: visible;
    background-color: rgb(235, 131, 131);
    opacity: 1;
  }
}
